<div class="card">
  <div class="card-header d-flex align-items-center">
  <h3>Реєстрація нового завдання для тесту: {{this.selTestName}} </h3>
  </div>
  <div class="card-body">
    <!-- <p></p> -->
 
  <form class="form-group" [formGroup]="form" (submit)="addQuestionSubmit()">

    <div class="form-row">
           
              <div class="form-group col-6"> 
                  <label>Текст завдання</label>
                  <textarea 
                    class="form-control col-12 form-control-success" 
                    placeholder="Введіть текст завдання..."
                    rows="4" 
                    id="description"
                    #descriptionField (change)="setQuestionText(descriptionField)"
                  ></textarea>
              </div>

              <div class="form-group col-4">
                  <label>Вкладення
                    <input type="file" accept="image/*" (change)="setQuestionAttachment($event)">
                  </label>
                  <img *ngIf="new_question.attachment !== undefined" 
                       [src]="new_question.attachment" 
                       width="100">
                        <!-- <ng-template #elseBlok>  
                          <p>elseBlok</p>  
                        </ng-template>  -->
            <!-- <img *ngIf="question.attachment !== undefined" [src]="question.attachment" width="50"> -->
              </div>

              <div class="form-group col-2"> 
                  <label>Рівень</label>
                  <select 
                    class="form-control col-10  " 
                    id="levelSelect" 
                    name="level" 
                    #levelField
                    (change)="setQuestionLevel(levelField)">
                      <option 
                        *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" 
                      >
                          {{i}}
                      </option>
                  </select>
                </div>

                        <!-- [selected]="i == sel_question.level" -->
      </div> 
     
       <br> 
        
      <div class="form-group row">
          
          <div class="form-group col-4">

              <!-- <label>Виберіть тип відповіді</label> -->
              <select class="form-control col-12" 
                      id="typeSelect" 
                      name="type" 
                      #typeField (change)="setQuestionType(typeField)" 
                      (change)="onAnswerTypeSelect($event)"
                >
                 <option disabled>Виберіть тип відповіді</option>
                 <option value="1">Простий вибір [Simple Choice]</option> 
                 <option value="2">Мульти-вибір [Multi Choice]</option> 
                 <option value="3">Текстове поле вводу [Input Field]</option> 
                 <option value="4">Числове поле вводу [Numerical]</option> 
              </select>

          </div>

          <div class="form-group col-5">
              <select class="form-control col-12" 
                      id="resourceSelect"
                      (change)="onAnswerResourseSelect($event)"
              >
                  <option disabled>Виберіть ресурс варіантів відповіді</option>
                  <option value="1">Тільки текст</option> 
                  <option *ngIf="(correctAnswerInputType !== 'txt' && correctAnswerInputType !== 'num')" value="2">
                    Тільки зображення
                  </option> 
                  <option *ngIf="(correctAnswerInputType !== 'num')" value="3">
                    Текст і зображення
                  </option> 
              </select>
            </div>
            
           <input
                  (click)="addAnswer()"  
                  type="button"  
                  value="Додати варіант відповіді" 
            >
                         
      </div>

<br>
<br>

<div *ngIf="answerNumber.length !== 0" class="form-group row">
      <table>
          <thead>
              <tr>
                  <th>&nbsp;</th>
                  <th *ngIf="(correctAnswerInputType === 'radio')">Варіанти відповіді</th>
                  <th *ngIf="(correctAnswerInputType === 'checkbox')">Варіанти відповіді</th>
                  <th *ngIf="(correctAnswerInputType === 'txt')">Введіть варіанти правильної відповіді</th>
                  <th *ngIf="(correctAnswerInputType === 'num')">Введіть допустимі межі правильної відповіді</th>
                  
                  <th *ngIf="(correctAnswerInputType !== 'txt' && correctAnswerInputType !== 'num')"> 
                    Позначте правильну відповідь
                  </th>
              </tr>
          </thead>
          
<!--  formation of list FormControl element with type depending on answerResourse 
      and corresponding sequence number from answerNumber array  -->

          <tr *ngFor="let number of answerNumber" >
                <td> №{{number}}: </td>
              
                <td *ngIf="answerResourse === 'text' || correctAnswerInputType === 'num' ">
                    <label class="center-block" >
                      <input
                          type = "text"  
                          [name] = "number"  
                          (change)="setAnsverText(number, $event)"
                      >
                    </label>
                </td>
                <!-- #answerTextField (change)="setAnswerText(number, answerTextField)" -->
                
                <!-- class="form-control"  correctAnswerInputType === '' -->
                
                <td *ngIf=" answerResourse === 'file' && correctAnswerInputType !== 'num' ">
                    <label class="center-block" >
                      <input type="file" accept="image/*" (change)="setAnsverAttachment(number, $event)" name="number"> 
                             <img *ngIf="newAnswersArray[number - 1].attachment !== undefined" 
                             [src]="newAnswersArray[number - 1].attachment" 
                             width="50">
                    </label>
                </td>

                     <!--  && correctAnswerInputType !== 'num'-->
                     
                <td *ngIf="answerResourse === 'text_file' && correctAnswerInputType !== 'num' ">
                    <label class="center-block" >
                        <input
                            type = "text"  
                            [name] = "number"  
                            (change)="setAnsverText(number, $event)"
                        >

                        <input  type="file" accept="image/*" (change)="setAnsverAttachment(number, $event)" name="number"> 
                                <img *ngIf="newAnswersArray[number - 1].attachment !== undefined" 
                                [src]="newAnswersArray[number - 1].attachment" 
                                width="50"
                        >
                    </label>
                </td>


                <td *ngIf="(correctAnswerInputType === 'radio' || correctAnswerInputType === 'checkbox')">
                    &nbsp;&nbsp; 
                    <input [type]="correctAnswerInputType" 
                           name="correctAnswer" 
                           (click)="setAnswerCorrect(number)">
                </td>

                <td *ngIf=" correctAnswerInputType === 'txt' ">
                  <!-- in this case all answers are correct -->
                    &nbsp;&nbsp;
                    <input type="checkbox" name="correctAnswer" checked  disabled > 
                </td>
          </tr>
      </table>

</div>
      
    
      <div class="form-group row d-flex justify-content-center">

          <input (click)="closeDialog()" value="Відмінити" class="btn btn-danger">
          <input type="submit" value=" Зберегти " class="btn btn-primary">

        <!-- <div class="form-row d-flex justify-content-center"></div> -->

        <!-- <div class="col-sm-11 offset-sm-2">    </div> -->

      </div>
      
  </form>
    
    
  </div>
</div>
