<div class="card">
  <div class="card-header d-flex align-items-center">
  <h3>Редагування завдання з id: {{sel_question_id}}, для тесту: {{sel_question_test_name}}: </h3>
  </div>
  <div class="card-body">
    <p></p>
 
    
  <form class="form-group" 
        [formGroup]="form" 
        (submit)="editQuestionSubmit()">

    <div class="form-row">
            <div class="form-group col-10">
              <label>Тип завдання</label>
              <select 
                class="form-control col-12" 
                id="typeSelect" 
                name="type" 
                #typeField 
                (change)="setQuestionType(typeField)" 
                >
                <option 
                  *ngFor="let questType of ['Простий вибір (Simple Choice)',
                                            'Мульти-вибір (Multi Choice)',
                                            'Поле вводу (Input Field)',
                                            'Поле вводу із числовим аналізатором (Numerical)'];
                          let i = index" 
                  [selected]="i + 1 == sel_question.type">
                  {{questType}}
                </option>
             
              </select>
            </div>

            <div class="form-group col-2"> 
              <label>Рівень</label>
              <select 
                class="form-control col-11  " 
                id="levelSelect" 
                name="level" 
                #levelField
                (change)="setQuestionLevel(levelField)">
                  <option 
                    *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" 
                    [selected]="i == sel_question.level">
                      {{i}}
                  </option>
              </select>
            </div>
            
        </div>
     
       <br> 
       <br> 
        
       <div class="form-group row">
            <label class="col-sm-12">Текст завдання</label>
            <div class="col-sm-12"
            >
              <textarea 
                placeholder="Введіть текст завдання..."
                class="col-sm-10 form-control form-control-success" 
                rows="5" 
                id="description"
               
                name="question_text"
                #descriptionField 
                (change)="setQuestionText(descriptionField)"
              >{{sel_question.question_text}}</textarea>
              <!-- formControlName="question_text" 
              [(ngModel)]="sel_question.question_text" -->
            </div>
          </div>

      <div class="form-row">
           
            <div class="form-group col-5"> 
              <label>Кількість варіантів відповідей</label>
              <select 
                class="form-control col-4  " 
                id="variants" 
                name="variants" 
                #variantsField (change)="setVariantsNumber(variantsField)"
              >
                      <option value="0" selected>1</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
              </select>
            </div>
            
             <div class="form-group col-7">
              <label>Ресурс варіантів відповідей</label>
              <select 
                class="form-control col-8" 
                id="resourceSelect" 
                name="resource" 
                #resourceField (change)="setResourse(resourceField)" >
                  <option 
                  *ngFor="let questAttachment of ['Текст',
                                            'Зображення',
                                            'Текст і зображення']"
                  [selected]="questAttachment === sel_question.attachment">
                  {{questAttachment}}
                </option>

              </select>
            </div>
            
        </div> 
        
       <br> 
       <br> 
    
    
    
      <div class="form-group row">

        <div class="col-sm-11 offset-sm-2">

          <input (click)="closeDialog()" value="Відмінити" class="btn btn-danger">
          
          <input type="submit" value="Зберегти зміни" class="btn btn-primary">
          
        </div>

      </div>
      
  </form>
    
    
  </div>
</div>
